{{#with data}}
<div class="article_header">
	<h2 class="article_header_title">Our Articles</h2>
	<button class="article_header_button">
		<div class="article_header_button_text">View All</div>
	</button>
</div>

<div class="article_main">
	{{#each articles}}
	<div class="article_main_card">

		{{#if isNew}}
		<div class="article_main_card_box">
			<div class="article_main_card_box_badge"> New </div>
			<img src="{{photo}}" alt="{{photo}}" class="article_main_card_box_img" id="id">
		</div>
		{{else}}
		<div class="article_main_card_box">
			<img src="{{photo}}" alt="{{photo}}" class="article_main_card_box_img" id="id">
		</div>
		{{/if}}

		<h4 class="article_main_card_title">{{name}}</h4>
		<p class="article_main_card_text">{{description}}</p>

		<button class="article_main_button">
			<div class="article_main_button_text">Read All</div>
		</button>

	</div>

	{{/each}}
</div>
{{/with}}