{{!-- Конструкция выше была выведена в процессе написани
кода для универсальной переменной. Поэтому в данной
конструкции и используется переменная с именем {{data}}
изначально конструкция была перенесена из папки contaihner
в папку component предварительно создав в этой папке файл hero
и конструкция при переносе имела следующий вид
<div>
	<h1 class="hero_title">{{hero.title}}</h1>
	<p class="hero_text">{{hero.text}}</p>
</div>
Потом для облегчения записи hero было вынесено
отдельной переменной и конструкция приобрела вид
<div>
	{{#with hero}}
	<h1 class="title">{{title}}</h1>
	<p class="text">{{text}}</p>
	{{/with}}
</div>
а потом создавая универсальный компонент
имя переменной заменили с hero on data и конструкция приобрела вид ниже--}}
{{!-- <div>
	{{#with data}}
	<h1 class="hero_title">{{title}}</h1>
	<p class="hero_text">{{text}}</p>
	{{/with}}
</div> --}}
{{!-- для указания получившейся переменной в файле контейнера
прописывается следующая конструкция
{{> hero data=hero}} --}}
{{!-- для того чтобы переделать получившийся блок в блок который
можно будет легко настраивать нужно из данной конструкции убрать
ссылку на переменную и получившаяся конструкция будет иметь
следующий вид --}}
<div>
	<h1 class="hero_title">{{title}}</h1>
	<p class="hero_text">{{text}}</p>
</div>
{{!-- а в файле контейнера указать в конструкции прямые ссылки
на данные из конструкции выше, т.е. прописать следующую конструкцию
{{> hero title=hero.title text=hero.text}}
что позволит при необходимости легко менять содержимое title и text
и/или добавлять блоки--}}